<div> 
    <button type="button" class="button js-trigger" (click) = "ShowList()">FirmTalk</button>
    
    <button *ngIf="showList" type="button" class="button js-trigger" style="right: 22%;" (click) = "ShowList()">FirmTalk</button>

<div class="chat" *ngIf="showList">
    <h2 class="chat__users">Groups</h2>
    <ul class="chat__wrapper" *ngFor="let user of users">
        <li class="chat__human" (click) = "ShowChat(user.name)">
            <img class="chat__avatar" src="{{user.source}}" alt="" />
            <span class="chat__name">{{user.name}}</span>
        </li>
    </ul>
</div>

<div class="conversation" *ngIf="showChat">
    <div class="conversation__header">
        {{selectedGroup}}
        <span class="close-msg" (click) = "showChat = false;">&times;</span>
    </div>
    
    <input class="input" type="text" placeholder="Enter Message" />
</div>

</div>